table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }




  /* 
  for media queries:
  1800 width, need to change navbar

  1480. change the form to ID rather than customerID, make sure the input number changes too
  
  */