body{
    margin: 0px;
}

@font-face {
    font-family: SS;
    src: url("../segoe-script.ttf");
    font-weight: bold;
  }

.index-page {
    background-image: url('../Images/Cuts-Hair-Images/background-image.jpg');
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 1fr 15%;
  }



.navbar-grid{
    display: grid;
    grid-row: 1;
    grid-column: 1;
    grid-template-rows: 1fr;
    grid-template-columns: 5% 30% 5% 1fr;
    background-color: white;
    margin: 0px;
    top:0px;
    position: sticky;
    border-bottom: solid gray 3px;

}
.navbar-right{
    display: grid;
    grid-template-columns: 15% 20% 30% 1fr;
}
.navbar-grid > h1{
color: black;
font-family: SS;
}

.navbar-right > h1{
    color: black;
    font-family: SS;
}

.navbar-right > p{ 
    color: #8F06F7;
    font-size: 50px;
    font-family: SS;
    text-align: center;
}

.navbar-right > a{
    color: black;
    text-decoration: none;
    font-size: 50px;
    font-family: SS;
    text-align: center;
}

/* .navbar-right > center{
    color: #8F06F7;
    font-size: 50;
    font-family: SS;
}

.navbar-right > center,a{
    color: black;
    text-decoration: none;
    font-size: 50;
    font-family: SS;
} */

.navbar-grid > img{
width: 80px;
height: 80px;
margin:auto;
}


.mission-statement-grid{
 margin-top: 3%;
 display: grid;
 grid-column: 1;
 grid-row: 2;
}

.mission-statement-grid > h1{
    font-family: SS;
    color: white;
    font-size: 90px;
    text-align: center;
}


.navigation{ /* Is for the navigation thumbnails, not the navigation bar */
    display: grid;
    grid-row: 3;
    grid-column: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    /* background-color: black; */
    /* background-image: linear-gradient(to bottom, rgba(0,0,0,0), black); */
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,1), black);
    color: white;
    font-family: SS;
    margin-bottom: 20px;
}

.nav-left> p {
    color: white;
    font-family: SS;
    margin-bottom: 20px;
    text-decoration: none;
}
.nav-middle> p {
    color: white;
    font-family: SS;
    margin-bottom: 20px;
    text-decoration: none;
}
.nav-right> p {
    color: white;
    font-family: SS;
    margin-bottom: 20px;
    text-decoration: none;
}

.nav-left > img,
.nav-middle > img,
.nav-right > img,
.navigation > img {
border-radius: 50%;
width: 230px;
height: 185px;
margin-top: 70px;
}    

.nav-left p,
.nav-middle p,
.nav-right p{

    font-size: 50px;
    font-weight: bold;
}

.footer{
    display: grid;
    grid-column: 1;
    grid-template-columns: 20% 1fr 35%;
    grid-row: 4;
    grid-template-rows: auto;

    /* position: fixed; */
    background-color:black;
    color: white;
    bottom: 0px;
    width: 100%;
}

.footer-right{
    display: grid;
    grid-row: 1;
    grid-column: 3;
    grid-template-columns: 1fr 1fr;
}

.footer-sm{
    display: grid;
    columns: 2;
    grid-template-columns: 50% 1fr;
}

.footer-left{

}

.footer > img,
.footer-sm > img,
.footer-left > img{
    height: 40px;
}

.footer-left > p{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
}

::selection {
    background: darkgray; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: darkgray; /* Gecko Browsers */
  }
@media only screen and (max-width: 1800px)
{
    .navbar-grid{
        grid-template-columns: 5% 15% 5% 1fr;
    }
    .footer-right{
        grid-template-columns: 20% 1fr;
        
    }
    .footer-right p{
        color: transparent;
    }
    .btn{
        align-items:center;
    }
}
@media only screen and (max-width: 1600px)
{
    #applepie{
        margin-left: 0px;
    }

}
#applepie{
    width: 100px;
    height:40px;
    margin-top: 30px;
    // margin-left: 220px;
}

@media only screen and (max-width: 1800px)
{
    #labelId{
        display: none;
    }

}
@media only screen and (max-width: 1500px)
{
    #CustomerIdText{
        display: none;
    }
}

@media only screen and (max-width: 1540px)
{
    .service-card p{
        display: none;
    }
}

@media only screen and (max-width: 1400px)
{    

    .navbar-grid h1{
        display: none;
    }
    .navbar-grid{
        grid-template-rows: 1fr;
        grid-template-columns: 10% 1fr;
    }
    .navbar-right{
        grid-column: 2;
        grid-row: 1;
    }
    #navimg{
        grid-row: 1;
    }
    #literallyNothing,#literally-nothing{
        display: none;
    }
    #customer{
        width: 100%;
    }
    
}

@media only screen and (max-width: 1200px)
{    
    .navbar-grid img{
        display: none;
    }   
    .navbar-grid{
        grid-template-columns: 1fr;
    }
    .navbar-right{
        grid-column: 1;
    }
}

@media only screen and (max-width: 1100px)
{  
    #navbarText{
        font-size: 20px;
    }

}
@media only screen and (max-width: 900px)
{
    .navigation img{
        width:  150px;
        height: 150px;
    }
    .navigation a,.navigation p{
        font-size: 40px;
    }

}
@media only screen and (max-width: 710px)
{  
    #service{
        display: none;
    }

    .navbar-right{
        // grid-template-columns: 15% 15% 15% 15%;
        margin: 0px;
    }
    .navigation img{
        width:  150px;
        height: 150px;
    }
    .navigation a,.navigation p{
        font-size: 25px;
    }
    .form-boxs {
        // width:40px;
        // padding:5px;
        // margin:3px;
    }
    .form-left select{
        width:80%;
        height: 30%;
        display: block !important; 
        font-size: 10px;
        // without display: block !important;  it wants to go away
    }
}
@media only screen and (max-width: 500px)
{
    .navigation a,.navigation p{
        font-size: 17px;
    }
    .navbar-right{
        grid-template-columns:  20%  25%  25% 25% ;
        margin: 0px;
        padding: 0px;
    }
    #navbarText{
        font-size: 12px;
    }
    .mission-statement-grid > h1{
        font-size: 50px;
        text-align: left;
        margin: 10px;
    }
    .navigation img{
        width: 60px;
        height: 60px;
    }
    .footer-left{
        display: none;
    }
    .footer-right{
        grid-column: 1;  
        grid-template-columns: 1fr 1fr ;  
    }
    .footer-right p{
        display: none;
    }
    .sm-icons{
        display: grid;
        grid-template-columns: 30% 1fr;
    }
    .sm-icons img{
        margin-right: 15px; 
    }   

}
@media only screen and (max-width: 340px)
{    
    .navigation a,.navigation p{
        font-size: 17px;
    }
    .navbar-right{
        grid-template-columns:  20%  25%  25% 25% ;
        margin: 0px;
        padding: 0px;
    }
    #navbarText{
        font-size: 12px;
    }
    .mission-statement-grid > h1{
        font-size: 35px;
        text-align: left;
        margin: 10px;
    }
    .navigation img{
        width: 60px;
        height: 60px;
    }
    .footer-left{
        display: none;
    }
    .footer-right{
        grid-column: 1;  
        grid-template-columns: 1fr 1fr ;  
    }
    .footer-right p{
        display: none;
    }
    .sm-icons{
        display: grid;
        grid-template-columns: 30% 1fr;
    }
    .sm-icons img{
        margin-right: 15px; 
    }   
    .service-card{
        width: 50px;
        height: 50px;
    }
    .service-card img{
        width: 50px;
        height: 50px;
    }
    .frame{
        width: 50px;
        height: 50px;
    }
    .frame img{
        width: 50px;
        height: 50px;
    }

}
