.service-page{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 1fr 15%;
}

@font-face {
    font-family: SS;
    src: url("../segoe-script.ttf");
    font-weight: bold;
  }

.middle-page{
    grid-row: 2;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 20% 1fr;
    /* background-image: url('../Images/Cuts-Hair-Images/background-image2.jpg'); */

}

.service-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 60px;
    background-color: #fff;
    border-radius: 4px;
    width: 75%;
    margin:20px;
    text-align: center;
}


.message{
    /* border-top: solid gray 3px; */
    grid-row: 1;
    grid-column: 2;
    /* border-left: solid gray 10px; */
}

.message > h1{
    font-size: 100px;
    font-family: SS;
    text-align: center;
    color: black;
    background-color: white;
}

.service-card{
    margin:15px;
    grid-template-rows: 1fr 15%;
    margin:30px;
    border: solid gray 3px;
}

.frame{
    /* height: 340px; */
    /* width: 325px; */
    height: 500px;
    width: auto;
    background-size: cover;
    /* border: solid red 5px; */
}

.service-card > div{
    grid-row: 1;
}

.service-card > p{
    font-size: 50px;
    border-top:solid gray 3px;
    margin: 0px ;
    color: black;
    font-family: SS;
}

.service-wrap > a{
    color: black;
    text-decoration: none;
    font-size: 50;
    font-family: SS;
    text-align: center;
}

.employee-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 60px;
    background-color: #fff;
    border-radius: 4px;
    width: 75%;
    margin:20px;
    text-align: center;
}


